<!-- Usual rails application html page. Added the header component here so it will display on both rails and react pages -->
<!-- Menu toggle is giving us the nice cascading nav bar on the left hand side of the page -->

<!DOCTYPE html>
<html>
  <head>
    <title>Backend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header__wrapper">
      <nav role="navigation">
        <div id="menuToggle">

          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>


          <ul id="menu">
            <% if @current_user.present? %>
              <li>Hi <%= @current_user.username %></li>
              <li><%= link_to 'Logout', login_path, method: 'delete' %></li>
            <% else %>
              <a href=<%= login_path %>><li>Log In</li></a>
              <a href=<%= new_user_path %>><li>Sign Up</li></a>
            <% end %>
          </ul>
        </div>
      </nav>
      <span role="img" aria-label="ghost" class="header__emoji">
        🍺
      </span>
      <h1 class="header__title">
        Hey Brew
        <div class="header__subtitle">pens down, drinks up</div>
      </h1>
    </div>
    <%= yield %>
  </body>
</html>
